<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/874986f905.js" crossorigin="anonymous"></script>
    <title>REST API</title>
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
</head>
<body>
    <div id="root">
    </div>
    {% load static %}
    <script src="{% static 'frontend/bundle.js' %}"></script>
</body>
</html>