@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* START CSS VARIABLES */
:root {
  --background-image1:url("images/pikawallpape.jpg");
  --background-image2:url("images/404.jpg");
  --body-background: #1c223b;
  --body-text: #ffffff;
  --container-background: rgba(39, 51, 73, 0.9);
  --table-background: #1c223b;
  --table-background-hover: #151b31;
  --table-text: #e2e2e2;
  --delete-background: #242c4c;
  --delete-color: #909090;
  --delete-hover: #ff0000;
  --edit-color: #909090;
  --edit-hover: #40c587;
}
/* END CSS VARIABLES */

/* START CSS RESET + COMMON STYLES */
* {
  box-sizing: border-box;
}

body {
  animation: fadeInPage ease 1.5s; /* fade page in */
  animation-iteration-count: 1; /* fade page in */
  animation-fill-mode: forwards; /* fade page in */
  background-image:var(--background-image1);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--body-text);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
h1 {
  text-align: center;
  margin: -2.5rem 0 0.625rem 0;
}
/* END CSS RESET + COMMON STYLES */

/* START OUTER CONTAINER STYLES */
.outer-container {
  background-color: var(--container-background);
  border-radius: 0.625rem;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 6.25rem;
  margin: auto;
  width: 90%;
  max-width: 62.5rem;
}

/* Start Table Styles */
table {
  color: var(--table-text);
  font-size: 0.875rem;
  padding: 0.625rem;
  width: 100%;
}
table th {
  font-size: 1rem;
}
table th,
table td {
  padding: 0.9375rem;
  text-align: left;
}
table tbody tr {
  background-color: var(--table-background);
}
table tbody tr:hover {
  background-color: var(--table-background-hover);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
table tbody tr td:first-of-type {
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}
table tbody tr td:last-of-type {
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  text-align: center;
}

table tbody tr td .fa-circle {
  transform: scale(0.7);
}

.delete-btn, .edit-btn {
  cursor: pointer;
  background-color: var(--delete-background);
  background-color: transparent;
  border: 0;
  border-radius: 0.125rem;
  color: var(--delete-color);
  font-size: 1.1rem;
  opacity: 0.2;
  padding: 0.3125rem 0.625rem;
}
.delete-btn:hover {
  color: var(--delete-hover);
}
.edit-btn:hover {
  color: var(--edit-hover);
}
.delete-btn:focus, .edit-btn:focus {
  outline: 0;
}
table tbody tr:hover .delete-btn {
  opacity: 1;
}
table tbody tr:hover .edit-btn {
  opacity: 1;
}
/* End Table Styles */
/* END OUTER CONTAINER STYLES */

/* KEYFRAMES */
/* Fade In Webpage Keyframe */
@keyframes fadeInPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .outer-container {
    padding: 1.25rem;
  }
  h1 {
    margin: 0;
  }
}
@media (max-width: 668px) {
  table th:nth-of-type(3),
  table td:nth-of-type(3) {
    display: none;
  }
}
.Nature{
  color: green;
}
.Water{
  color: blue;
} 
.Fire{
  color: orangered;
} 
.Electricity{
  color: yellow;
} 
.Earth{
  color: brown;
} 
.Air{
  color: lightblue;
} 
.Telecinesis{
  color: pink;
} 
.Darkness{
  color: black;
} 
.Light{
  color: white;
} 
.Ice{
  color: lightseagreen;
} 
.Cosmic{
  color: purple;
} 
.Time{
  color: goldenrod;
}

/* ----------------------- */

.btn-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.btn-div a, .add-form a{
  text-decoration: none;
}
.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  padding: 0px 110px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0.3125rem;
}
.btn:hover {
  text-decoration: none;
  text-align: center;
}

/*btn_background*/

.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #151b31;
  border: solid  1px #ffffff;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  border-radius: 0.3125rem;
}
.effect04::before,
.effect04 span{
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover{
  background-color: #151b31;
}

/* HOVERしたら文字1を上に */
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
  transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect04::before{
  content: attr(data-sm-link-text);
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
  transform: translateY(500%) scale(-0.1,20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before{
  text-align: center;
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
  transform: translateY(0) scale(1,1);
}

.add-form {
  width: 411.86px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--container-background);
  border-radius: 0.625rem;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 3.25rem;
  margin: auto;
  max-width: 62.5rem;
}
.add-form input, .add-form select {
  width: 246px;
  padding: 5px;
  border: solid 0.1px var(--container-background);
  color: #151b31;
  border-radius: 5px;
}
.add-form label {
  margin: 10px 0px;
}
.add-form div {
  width: 80%;
  align-self: center;
}
.add-form div button:nth-child(1) {
  float: right;
}
.big-div-form {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: var(--background-image2);
  background-repeat: no-repeat;
  background-size: cover;
}
.send-form-div {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  align-items: space-around;
  justify-content: center;
  justify-self: center;
  padding: 0;
}
.send-form-div input {
  cursor: pointer;
}
.send-form-div input:hover {
  background-color: #151b31;
  color: white;
  border: solid  1px #ffffff;
  border-radius: 0.3125rem;
  transition: all 0.3s linear;
}
.submit-form-btn {
  margin-top: 40px;
  margin-bottom: 3px;
}